<h3>Results for "{{query}}"</h3>
{{#each block in blocks}}
  <a class="gist" href="{{unbound block.url}}" style="background-image: url({{unbound block.thumbnail}});">
    <span class="description">
      {{block.description}}
      <span class="user">
        <br>by {{block.userId}}
      </span>
    </span>
  </a>
{{/each}}